body { background: #67d120; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 59px; display: flex; }
.block-product-0 { color: #ccf91d; font-size: 18px; margin-bottom: 5px; }
.block-logger-1 { color: #e01903; font-size: 16px; margin-bottom: 5px; }
.block-uploader-2 { color: #97ff29; font-size: 21px; margin-bottom: 5px; }
.block-filter-3 { color: #af9a28; font-size: 18px; margin-bottom: 5px; }
.block-uploader-4 { color: #705f97; font-size: 12px; margin-bottom: 5px; }
.block-validator-5 { color: #c3f42a; font-size: 12px; margin-bottom: 5px; }
.block-database-6 { color: #6bc7a3; font-size: 12px; margin-bottom: 5px; }
.block-cart-7 { color: #7a5230; font-size: 18px; margin-bottom: 5px; }
.block-user-8 { color: #3b0c09; font-size: 12px; margin-bottom: 5px; }
.block-filter-9 { color: #522b02; font-size: 16px; margin-bottom: 5px; }